.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
}

.servicios-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.servicios-texto h2 {
    font-size: 40px;
    font-weight: 400;
}

.servicios-texto h3 {
    font-weight: 300;
}

.tarjetaServicios {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .servicios {
      height: auto;
      padding: 40px 20px;
    }
  
    .servicios-texto h2 {
      font-size: 28px;
      text-align: center;
    }
  
    .servicios-texto h3 {
      font-size: 16px;
      text-align: center;
    }
  
    .tarjetaServicios {
      width: 100%;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }
  