.contServiceCard {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contServiceCardImagen {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.contServiceCardImagen img {
    width: 100%;
    object-fit: cover;
}

.contServiceCardText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contServiceCardText h3 {
    padding-bottom: 12px;
    text-align: center;
}

.contServiceCardText p {
    font-size: 14px;
    text-align: center;
}

.contServiceCardButton button {
    font-size: 16px;
    padding: 10px 15px;
}

@media (max-width: 768px) {

    .contServiceCard {
      background-color: rgb(238, 238, 238);
      border-radius: 4px;
      color: black;
      width: 100%;
      max-width: 400px;
      height: auto;
      padding: 10px;
    
    }

    .info-btn {
      display: none;
    }
  
    .contServiceCardImagen {
      height: 180px;
    }
  
    .contServiceCardText p {
      font-size: 13px;
      padding: 0 10px;
    }
  
    .contServiceCardButton button {
      font-size: 14px;
      padding: 8px 12px;
    }
}